/* 公共css */
body,html,div,ul,li,p {
	margin: 0;
	padding: 0;
}
li {
	list-style: none;
}
a{
	text-decoration: none;
}
body {
	background-color: #f8f8fa;
}

/* 头部份css */
.header {
	height: 300px;
	background-color: #2b6fd5;
	margin-bottom: 15px;
}
.header-container{
	position: relative;
	background-color: #fffeff;
	height: 240px;
	border-radius:20px 20px 0 0;
	top: 60px;
}
.header .header-container .banner {
	position: relative;
	top: 20px;
	border-radius:10px;
	margin: 0 auto;
	width: 90%;
	height: 120px;
	background: url(../img/banner.jpg) center;
	background-size: 100% 100%;
	
}
.header .header-container .menu {
	position: relative;
	bottom: -40px;
	width: 90%;
	margin: 0 auto;
	height: 40px;
}
.header .header-container .menu li {
	float: left;
	width: 25%;
	text-align: center;
	/* margin-right: 52px; */
}

.header .header-container .menu li:nth-child(4){
	margin-right: 0;
}
.header .header-container .menu li>img{
	width: 35px;
	height: 40px;
}
.header .header-container .menu li>a{
	display: block;
	font-size: 14px;
}

/* 内容部分css */
.content {
	/* height: 400px; */
	background-color: #fffeff;
}
.content h2 {
	width: 90%;
	margin:0 auto;
	height: 50px;
	line-height: 50px;
	font-weight: 700;
	font-size: 18px;
	border-bottom: 2px solid #f9f9fb;
}
.content .content-container {
	width: 90%;
	margin: 0 auto;
	background-color: #fffeff;
}

.content .content-container .item {
	height: 100px;
	border-bottom: 2px solid #f9f9fb;
}

.content .content-container .item .item-content {
	width: 75%;
	height: 70px;
	float: left;
	margin:15px 0;
}
.content .content-container .item .item-content a {
	width: 80%;
	display: block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-size: 18px;
	font-weight: 400;
	color: black;
}
.content .content-container .item .item-content p {
	font-size: 12px;
	font-weight: 100;
	margin-top: 15px;
}
.content .content-container .item .item-content p>i {
	margin-left: 25px;
	font-style: normal;
}

.content .content-container .item .item-img {
	display: inline-block;
	height: 70;
	width: 25%;
	margin: 15px 0;
}
.content .content-container .item .item-img img {
	width: 80%;
	height: 100%;
}